.main-container{
  display: flex;

  /* Para posicionar el main container */
  height: 100vh;
  max-height: 100vh;
  box-sizing: border-box;
  padding-top: var(--navbar-size);

  flex-flow: row nowrap;
  overflow: hidden;

} 

.course-box{
  display: flex;
  flex-flow: column nowrap;
  flex-basis: 30%;
  overflow: hidden;

  background-color: var(--background-semi-dark-color);

}

.schedule-box{
  flex-basis: 70%;

}
.course-container{
  flex-grow: 1;
  overflow: scroll;

  background-color: var(--background-semi-dark-color);
}


.course {
  padding: 10px 20px;
  display: flex;
  flex-flow: row;
  background-color: var(--background-medium-color);
}

.section {
  display: flex;
  flex-flow: row;
  padding-left: 10px;
  padding-top: 5px;

}

.checkbox {
  margin-left: auto;
}

.career-dropdown-container {
  display: flex;
  justify-content: center;
}

.semester-dropdown-container {
  display: flex;
  justify-content: center;
}

.generate-button-container {
  display: flex;
  justify-content: center;
}