@import "./NavigationBar.css";

.screen-container {
  overflow: scroll;
  scrollbar-width: none;

  box-sizing: border-box;
  padding-top: var(--navbar-size);

  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
}

.description-container {
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;

  align-items: center;

  flex-grow:1;
}

.developers-container {
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;

  justify-content: space-evenly;
  align-items: stretch;
  
  margin-top: auto;
  font-size: 2rem;
}

.description-container h1 {
  margin: unset;
  font-size: 5rem;
}
.description-container p {
  margin: unset;
  font-size: 1rem;
}

.developer-box {
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;

  width: 25rem;
}

.developer-box h2 {
  margin: unset;
  font-size: 2rem;
}

.developer-box a {
  margin: unset;
  font-size: 1.25rem;
}

.developer-box p {
  margin: unset;
  font-size: 1.25rem;
}

