.grid-container {
  display: grid;
  grid-template-columns: 0.5fr repeat(7, 1fr);
  grid-template-rows: repeat(16, 1fr);
  grid-auto-flow: column;
}

.grid-item {
  text-align: center;
  background: red;
}

.hour-subdivision {
  display: flex;
  flex-flow: column nowrap;
}

.hour-subdivision:nth-child(2n) { background: rgba(255, 255, 255, 0.2) }
.hour-subdivision:nth-child(2n + 1) { background: rgba(255, 255, 255, 0.1) }

.hour-subdivision div:nth-child(n) {
  flex-basis: 25%;
  border-right: 1px solid #000000;
  border-left: 1px solid #000000;
}
