.main-container{
  display: flex;

  /* Para posicionar el main container */
  height: 100vh;
  max-height: 100vh;
  box-sizing: border-box;
  padding-top: var(--navbar-size);

  flex-flow: row nowrap;
  overflow: hidden;

  align-items: stretch;
} 

.course-box-container {
  overflow: scroll;
  scrollbar-width: 1;
  flex-basis: 30%;
  background-color: var(--background-semi-dark-color);
}

.career-dropdown-container {
  padding-top: 10px;
}

.semester-dropdown-container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.course {
  padding: 10px 20px;
  display: flex;
  flex-flow: row;
  
  background-color: var(--background-medium-color);
  align-items: center;
}

.add-section {
  margin-left: auto;
}

.add-section button {
  background-color: var(--background-semi-light-color);
}

.add-section button:hover {
  background-color: var(--background-light-color);
}

.section {
  display: flex;
  flex-flow: row;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;

}

.delete-section {
  margin-left: auto;
}

.section-edit-container {
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;

  flex-basis: 70%;
}


.editable-section-container {
  display: flex;
  flex-flow: column;
  padding: 15px;
  margin: 15px;
  border-radius: 15px;

  flex-basis: 100%;

  background-color: var(--background-semi-dark-color);
}

.editable-section-header {
  display: flex;
  flex-flow: row nowrap;
  
}

.editable-section-header div:nth-child(2) {
  margin-left: auto;
}

.timeblock-container {
  display: flex;
  flex-flow: row nowrap;
}

.timeblock-container button {
  margin-left: auto;
}

.hour-selection-container {
  display: flex;
  flex-flow: row nowrap;
  
}

.save-button {
  margin-top: auto;
  
}

.save-button button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;

}

.delete-day {
  margin-left: auto;
  margin-right: 10px;
}

.delete-day button {
  background-color: var(--background-semi-light-color);

}

.day-buttons {
  display: flex;
  flex-grow: row;
  margin-bottom: 10px;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: var(--background-medium-color);
}

.basic-info {
  margin-bottom: 10px;  
}

.teacher-container {
  margin-bottom: 10px; 
}

.day-container {
  margin-bottom: 10px; 
}


li {
  list-style-type: none;
}

